.navbar {
  background-color: var(--mantine-background);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar-item {
  text-decoration: none;
  color: var(--mantine-text);
  font-size: 18px;
}

.icon {
  display: flex;
  align-items: center;
}

.navbar-item:hover {
  color: #007bff;
}

.navbar-icon {
  color: var(--mantine-text);
}

.navbar-icon:hover {
  color: #007bff;
}
